RemoteConnectLib/Service References/ServiceReference1/item9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WD.Tester.Module" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WD.Tester.Module" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ReceiverFaultDetail">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ReceiverFaultDetail" nillable="true" type="tns:ReceiverFaultDetail" />
  <xs:complexType name="SenderFaultDetail">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SenderFaultDetail" nillable="true" type="tns:SenderFaultDetail" />
  <xs:complexType name="ArrayOfFileNameStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileNameStruct" nillable="true" type="tns:FileNameStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileNameStruct" nillable="true" type="tns:ArrayOfFileNameStruct" />
  <xs:complexType name="FileNameStruct">
    <xs:sequence>
      <xs:element name="BinVerStr" nillable="true" type="xs:string" />
      <xs:element name="DateStr" nillable="true" type="xs:string" />
      <xs:element name="DispVerStr" nillable="true" type="xs:string" />
      <xs:element name="FileNameStr" nillable="true" type="xs:string" />
      <xs:element name="GradeVerStr" nillable="true" type="xs:string" />
      <xs:element name="OcrVerStr" nillable="true" type="xs:string" />
      <xs:element name="RetryDispoVerStr" nillable="true" type="xs:string" />
      <xs:element name="SkipVerStr" nillable="true" type="xs:string" />
      <xs:element name="TestCountVerStr" nillable="true" type="xs:string" />
      <xs:element name="TrayDispoVerStr" nillable="true" type="xs:string" />
      <xs:element name="VersionStr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileNameStruct" nillable="true" type="tns:FileNameStruct" />
  <xs:simpleType name="BunnyPinMotionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="SERVO" />
      <xs:enumeration value="SOLENOID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BunnyPinMotionType" nillable="true" type="tns:BunnyPinMotionType" />
  <xs:simpleType name="BunnyPinMotionSensor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="HIGH" />
      <xs:enumeration value="LOW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BunnyPinMotionSensor" nillable="true" type="tns:BunnyPinMotionSensor" />
  <xs:complexType name="TesterState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StopGoPauseState">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuxIn0" type="xs:boolean" />
          <xs:element minOccurs="0" name="AuxIn1" type="xs:boolean" />
          <xs:element minOccurs="0" name="AuxOut0" type="xs:boolean" />
          <xs:element minOccurs="0" name="AuxOut1" type="xs:boolean" />
          <xs:element minOccurs="0" name="B12VDC" type="xs:boolean" />
          <xs:element minOccurs="0" name="B5VDC" type="xs:boolean" />
          <xs:element minOccurs="0" name="BackLight" type="xs:boolean" />
          <xs:element minOccurs="0" name="BunnyGood" type="xs:boolean" />
          <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemsSolenoid" type="xs:boolean" />
          <xs:element minOccurs="0" name="PinMotionCloseSensor" type="tns:BunnyPinMotionSensor" />
          <xs:element minOccurs="0" name="PinMotionOpenSensor" type="tns:BunnyPinMotionSensor" />
          <xs:element minOccurs="0" name="PinMotionType" type="tns:BunnyPinMotionType" />
          <xs:element minOccurs="0" name="RampInited" type="xs:boolean" />
          <xs:element minOccurs="0" name="SequenceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServoEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="TestNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TesterState" nillable="true" type="tns:TesterState" />
  <xs:complexType name="StopGoPauseState">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmdBusy" type="xs:boolean" />
      <xs:element minOccurs="0" name="NowTestsArePaused" type="xs:boolean" />
      <xs:element minOccurs="0" name="PauseEvents" type="xs:boolean" />
      <xs:element minOccurs="0" name="PauseTests" type="xs:boolean" />
      <xs:element minOccurs="0" name="PleaseStop" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeqGoing" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopGoPauseState" nillable="true" type="tns:StopGoPauseState" />
  <xs:complexType name="BladeEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:EventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Consecutive" type="xs:int" />
          <xs:element minOccurs="0" name="EventType" type="xs:int" />
          <xs:element minOccurs="0" name="Revision" type="xs:int" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BladeEventArgs" nillable="true" type="tns:BladeEventArgs" />
</xs:schema>