RemoteConnectLib/Service References/ServiceReference1/item1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="Hitachi.Tester.Module" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Hitachi.Tester.Module" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Hitachi.Tester.Module/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="Hitachi.Tester.Module" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hitachi.Tester.Module" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hitachi.Tester.Enums" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TesterObjectContract_BladeDelFile_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeDelFile" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeDelFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeDelFileResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeDelFile_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeDelFile_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BunnyReInit_InputMessage">
    <wsdl:part name="parameters" element="tns:BunnyReInit" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BunnyReInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:BunnyReInitResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BunnyReInit_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BunnyReInit_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsType_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsType" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsTypeResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsType_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsType_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsOpenSensorType_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsOpenSensorType" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsOpenSensorType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsOpenSensorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsOpenSensorType_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsOpenSensorType_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsCloseSensorType_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsCloseSensorType" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsCloseSensorType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMemsCloseSensorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsCloseSensorType_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetMemsCloseSensorType_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PinMotionToggle_InputMessage">
    <wsdl:part name="parameters" element="tns:PinMotionToggle" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PinMotionToggle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PinMotionToggleResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PinMotionToggle_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PinMotionToggle_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetRampValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRampValue" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetRampValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRampValueResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetRampValue_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetRampValue_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_save_servo_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_set_save_servo" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_save_servo_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_set_save_servoResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_save_servo_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_save_servo_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_neutral_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_get_neutral" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_neutral_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_get_neutralResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_neutral_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_neutral_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_neutral_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_set_neutral" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_neutral_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_set_neutralResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_neutral_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_set_neutral_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_servo_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_get_servo" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_servo_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_get_servoResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_servo_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_get_servo_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_move_servo_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_move_servo" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_move_servo_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_move_servoResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_move_servo_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_move_servo_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_usb_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:hgst_usb_reset" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_usb_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:hgst_usb_resetResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_usb_reset_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_hgst_usb_reset_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetStrings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStrings" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetStrings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStringsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetStrings_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetStrings_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetStrings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrings" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetStrings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetStrings_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetStrings_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetDataViaEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataViaEvent" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetDataViaEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataViaEventResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetDataViaEvent_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetDataViaEvent_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetIntegers_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIntegers" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetIntegers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIntegersResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetIntegers_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetIntegers_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetIntegers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntegers" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetIntegers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntegersResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetIntegers_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetIntegers_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetTclStart_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTclStart" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetTclStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTclStartResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetTclStart_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetTclStart_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetTclStart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTclStart" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetTclStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTclStartResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetTclStart_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetTclStart_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:PauseEvents" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseEventsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseEvents_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseEvents_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseTests_InputMessage">
    <wsdl:part name="parameters" element="tns:PauseTests" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseTestsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseTests_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_PauseTests_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeFilePath" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFilePath_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFilePath_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FactFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:FactFilePath" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FactFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:FactFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FactFilePath_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FactFilePath_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GradeFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GradeFilePath" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GradeFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GradeFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GradeFilePath_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GradeFilePath_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FirmwareFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmwareFilePath" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FirmwareFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmwareFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FirmwareFilePath_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_FirmwareFilePath_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CountsFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:CountsFilePath" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CountsFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountsFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CountsFilePath_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CountsFilePath_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_LogInValue_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInValue" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_LogInValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInValueResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_LogInValue_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_LogInValue_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Connect_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Connect_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Initialize_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Initialize_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Ping_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Ping_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Disconnect_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Disconnect_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Abort_InputMessage">
    <wsdl:part name="parameters" element="tns:Abort" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Abort_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Abort_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_Abort_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_StartTest_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTest" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_StartTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTestResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_StartTest_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_StartTest_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfig" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetConfig_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetConfig_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfig_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfig_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DelConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:DelConfig" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DelConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelConfigResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DelConfig_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DelConfig_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DirConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:DirConfig" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DirConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:DirConfigResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DirConfig_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_DirConfig_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CopyFileOnBlade_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyFileOnBlade" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CopyFileOnBlade_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyFileOnBladeResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CopyFileOnBlade_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_CopyFileOnBlade_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfigCRC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigCRC" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfigCRC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigCRCResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfigCRC_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetConfigCRC_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetGradeCRCs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGradeCRCs" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetGradeCRCs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGradeCRCsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetGradeCRCs_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetGradeCRCs_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFileCRC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileCRC" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFileCRC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileCRCResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFileCRC_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFileCRC_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclInput_InputMessage">
    <wsdl:part name="parameters" element="tns:TclInput" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:TclInputResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclInput_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclInput_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:TclCommand" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:TclCommandResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclCommand_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_TclCommand_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetModuleState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleState" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetModuleState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleStateResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetModuleState_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetModuleState_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetModuleState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetModuleState" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetModuleState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetModuleStateResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetModuleState_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetModuleState_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetBunnyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBunnyStatus" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetBunnyStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBunnyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetBunnyStatus_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetBunnyStatus_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetMemsState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemsState" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetMemsState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemsStateResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetMemsState_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetMemsState_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCounts" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCountsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCounts_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCounts_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetCountValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountValue" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetCountValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountValueResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetCountValue_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetCountValue_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCountValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCountValue" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCountValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCountValueResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCountValue_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SetCountValue_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_IncCountValue_InputMessage">
    <wsdl:part name="parameters" element="tns:IncCountValue" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_IncCountValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncCountValueResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_IncCountValue_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_IncCountValue_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SaveCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCounts" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SaveCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCountsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SaveCounts_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_SaveCounts_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ZeroCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:ZeroCounts" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ZeroCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZeroCountsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ZeroCounts_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ZeroCounts_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ClearStats_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearStats" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ClearStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearStatsResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ClearStats_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_ClearStats_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateStatValuesViaEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatValuesViaEvent" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateStatValuesViaEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatValuesViaEventResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateStatValuesViaEvent_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateStatValuesViaEvent_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFirstLastIndexViaEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstLastIndexViaEvent" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFirstLastIndexViaEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstLastIndexViaEventResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFirstLastIndexViaEvent_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFirstLastIndexViaEvent_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFromToViaEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFromToViaEvent" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFromToViaEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFromToViaEventResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFromToViaEvent_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_GetFromToViaEvent_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateDgrValuesViaEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDgrValuesViaEvent" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateDgrValuesViaEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDgrValuesViaEventResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateDgrValuesViaEvent_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_UpdateDgrValuesViaEvent_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFileDir_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileDir" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFileDir_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileDirResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFileDir_SenderFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SenderFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeFileDir_ReceiverFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ReceiverFaultDetail" />
  </wsdl:message>
  <wsdl:message name="TesterObjectContract_BladeEventCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BladeEventCallback" />
  </wsdl:message>
  <wsdl:portType name="TesterObjectContract">
    <wsdl:operation name="BladeDelFile">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeDelFile" message="tns:TesterObjectContract_BladeDelFile_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeDelFileResponse" message="tns:TesterObjectContract_BladeDelFile_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeDelFileReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_BladeDelFile_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeDelFileSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_BladeDelFile_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BunnyReInit">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BunnyReInit" message="tns:TesterObjectContract_BunnyReInit_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BunnyReInitResponse" message="tns:TesterObjectContract_BunnyReInit_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BunnyReInitSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_BunnyReInit_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BunnyReInitReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_BunnyReInit_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMemsType">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsType" message="tns:TesterObjectContract_SetMemsType_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsTypeResponse" message="tns:TesterObjectContract_SetMemsType_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsTypeSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetMemsType_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsTypeReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetMemsType_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMemsOpenSensorType">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsOpenSensorType" message="tns:TesterObjectContract_SetMemsOpenSensorType_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsOpenSensorTypeResponse" message="tns:TesterObjectContract_SetMemsOpenSensorType_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsOpenSensorTypeSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetMemsOpenSensorType_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsOpenSensorTypeReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetMemsOpenSensorType_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMemsCloseSensorType">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsCloseSensorType" message="tns:TesterObjectContract_SetMemsCloseSensorType_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsCloseSensorTypeResponse" message="tns:TesterObjectContract_SetMemsCloseSensorType_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsCloseSensorTypeSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetMemsCloseSensorType_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetMemsCloseSensorTypeReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetMemsCloseSensorType_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PinMotionToggle">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PinMotionToggle" message="tns:TesterObjectContract_PinMotionToggle_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PinMotionToggleResponse" message="tns:TesterObjectContract_PinMotionToggle_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PinMotionToggleSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_PinMotionToggle_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PinMotionToggleReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_PinMotionToggle_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRampValue">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetRampValue" message="tns:TesterObjectContract_SetRampValue_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetRampValueResponse" message="tns:TesterObjectContract_SetRampValue_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetRampValueSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetRampValue_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetRampValueReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetRampValue_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_set_save_servo">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_save_servo" message="tns:TesterObjectContract_hgst_set_save_servo_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_save_servoResponse" message="tns:TesterObjectContract_hgst_set_save_servo_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_save_servoSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_set_save_servo_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_save_servoReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_set_save_servo_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_get_neutral">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_neutral" message="tns:TesterObjectContract_hgst_get_neutral_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_neutralResponse" message="tns:TesterObjectContract_hgst_get_neutral_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_neutralSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_get_neutral_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_neutralReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_get_neutral_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_set_neutral">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_neutral" message="tns:TesterObjectContract_hgst_set_neutral_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_neutralResponse" message="tns:TesterObjectContract_hgst_set_neutral_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_neutralSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_set_neutral_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_set_neutralReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_set_neutral_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_get_servo">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_servo" message="tns:TesterObjectContract_hgst_get_servo_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_servoResponse" message="tns:TesterObjectContract_hgst_get_servo_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_servoSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_get_servo_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_get_servoReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_get_servo_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_move_servo">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_move_servo" message="tns:TesterObjectContract_hgst_move_servo_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_move_servoResponse" message="tns:TesterObjectContract_hgst_move_servo_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_move_servoSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_move_servo_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_move_servoReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_move_servo_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hgst_usb_reset">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_usb_reset" message="tns:TesterObjectContract_hgst_usb_reset_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_usb_resetResponse" message="tns:TesterObjectContract_hgst_usb_reset_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_usb_resetSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_hgst_usb_reset_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/hgst_usb_resetReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_hgst_usb_reset_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStrings">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetStrings" message="tns:TesterObjectContract_SetStrings_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetStringsResponse" message="tns:TesterObjectContract_SetStrings_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetStringsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetStrings_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetStringsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetStrings_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrings">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetStrings" message="tns:TesterObjectContract_GetStrings_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetStringsResponse" message="tns:TesterObjectContract_GetStrings_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetStringsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetStrings_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetStringsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetStrings_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataViaEvent">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetDataViaEvent" message="tns:TesterObjectContract_GetDataViaEvent_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetDataViaEventResponse" message="tns:TesterObjectContract_GetDataViaEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetDataViaEventReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetDataViaEvent_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetDataViaEventSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetDataViaEvent_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIntegers">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetIntegers" message="tns:TesterObjectContract_SetIntegers_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetIntegersResponse" message="tns:TesterObjectContract_SetIntegers_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetIntegersSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetIntegers_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetIntegersReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetIntegers_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntegers">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetIntegers" message="tns:TesterObjectContract_GetIntegers_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetIntegersResponse" message="tns:TesterObjectContract_GetIntegers_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetIntegersReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetIntegers_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetIntegersSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetIntegers_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTclStart">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetTclStart" message="tns:TesterObjectContract_SetTclStart_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetTclStartResponse" message="tns:TesterObjectContract_SetTclStart_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetTclStartReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetTclStart_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetTclStartSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetTclStart_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTclStart">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetTclStart" message="tns:TesterObjectContract_GetTclStart_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetTclStartResponse" message="tns:TesterObjectContract_GetTclStart_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetTclStartSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetTclStart_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetTclStartReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetTclStart_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PauseEvents">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseEvents" message="tns:TesterObjectContract_PauseEvents_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseEventsResponse" message="tns:TesterObjectContract_PauseEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseEventsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_PauseEvents_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseEventsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_PauseEvents_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PauseTests">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseTests" message="tns:TesterObjectContract_PauseTests_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseTestsResponse" message="tns:TesterObjectContract_PauseTests_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseTestsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_PauseTests_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PauseTestsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_PauseTests_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BladeFilePath">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFilePath" message="tns:TesterObjectContract_BladeFilePath_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFilePathResponse" message="tns:TesterObjectContract_BladeFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFilePathSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_BladeFilePath_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFilePathReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_BladeFilePath_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FactFilePath">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FactFilePath" message="tns:TesterObjectContract_FactFilePath_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FactFilePathResponse" message="tns:TesterObjectContract_FactFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FactFilePathSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_FactFilePath_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FactFilePathReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_FactFilePath_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GradeFilePath">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GradeFilePath" message="tns:TesterObjectContract_GradeFilePath_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GradeFilePathResponse" message="tns:TesterObjectContract_GradeFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GradeFilePathSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GradeFilePath_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GradeFilePathReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GradeFilePath_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmwareFilePath">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FirmwareFilePath" message="tns:TesterObjectContract_FirmwareFilePath_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FirmwareFilePathResponse" message="tns:TesterObjectContract_FirmwareFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FirmwareFilePathReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_FirmwareFilePath_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/FirmwareFilePathSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_FirmwareFilePath_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountsFilePath">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CountsFilePath" message="tns:TesterObjectContract_CountsFilePath_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CountsFilePathResponse" message="tns:TesterObjectContract_CountsFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CountsFilePathReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_CountsFilePath_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CountsFilePathSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_CountsFilePath_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInValue">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/LogInValue" message="tns:TesterObjectContract_LogInValue_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/LogInValueResponse" message="tns:TesterObjectContract_LogInValue_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/LogInValueReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_LogInValue_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/LogInValueSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_LogInValue_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/Connect" message="tns:TesterObjectContract_Connect_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ConnectResponse" message="tns:TesterObjectContract_Connect_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ConnectSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_Connect_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ConnectReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_Connect_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/Initialize" message="tns:TesterObjectContract_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/InitializeResponse" message="tns:TesterObjectContract_Initialize_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/InitializeReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_Initialize_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/InitializeSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_Initialize_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/Ping" message="tns:TesterObjectContract_Ping_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PingResponse" message="tns:TesterObjectContract_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PingReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_Ping_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/PingSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_Ping_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/Disconnect" message="tns:TesterObjectContract_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DisconnectResponse" message="tns:TesterObjectContract_Disconnect_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DisconnectSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_Disconnect_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DisconnectReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_Disconnect_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/Abort" message="tns:TesterObjectContract_Abort_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/AbortResponse" message="tns:TesterObjectContract_Abort_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/AbortSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_Abort_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/AbortReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_Abort_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTest">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/StartTest" message="tns:TesterObjectContract_StartTest_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/StartTestResponse" message="tns:TesterObjectContract_StartTest_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/StartTestSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_StartTest_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/StartTestReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_StartTest_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfig">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetConfig" message="tns:TesterObjectContract_SetConfig_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetConfigResponse" message="tns:TesterObjectContract_SetConfig_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetConfigSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetConfig_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetConfigReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetConfig_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfig" message="tns:TesterObjectContract_GetConfig_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigResponse" message="tns:TesterObjectContract_GetConfig_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetConfig_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetConfig_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelConfig">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DelConfig" message="tns:TesterObjectContract_DelConfig_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DelConfigResponse" message="tns:TesterObjectContract_DelConfig_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DelConfigSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_DelConfig_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DelConfigReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_DelConfig_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DirConfig">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DirConfig" message="tns:TesterObjectContract_DirConfig_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DirConfigResponse" message="tns:TesterObjectContract_DirConfig_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DirConfigReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_DirConfig_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/DirConfigSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_DirConfig_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyFileOnBlade">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CopyFileOnBlade" message="tns:TesterObjectContract_CopyFileOnBlade_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CopyFileOnBladeResponse" message="tns:TesterObjectContract_CopyFileOnBlade_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CopyFileOnBladeSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_CopyFileOnBlade_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/CopyFileOnBladeReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_CopyFileOnBlade_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigCRC">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigCRC" message="tns:TesterObjectContract_GetConfigCRC_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigCRCResponse" message="tns:TesterObjectContract_GetConfigCRC_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigCRCSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetConfigCRC_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetConfigCRCReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetConfigCRC_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGradeCRCs">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetGradeCRCs" message="tns:TesterObjectContract_GetGradeCRCs_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetGradeCRCsResponse" message="tns:TesterObjectContract_GetGradeCRCs_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetGradeCRCsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetGradeCRCs_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetGradeCRCsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetGradeCRCs_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileCRC">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFileCRC" message="tns:TesterObjectContract_GetFileCRC_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFileCRCResponse" message="tns:TesterObjectContract_GetFileCRC_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFileCRCSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetFileCRC_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFileCRCReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetFileCRC_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TclInput">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclInput" message="tns:TesterObjectContract_TclInput_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclInputResponse" message="tns:TesterObjectContract_TclInput_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclInputSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_TclInput_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclInputReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_TclInput_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TclCommand">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclCommand" message="tns:TesterObjectContract_TclCommand_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclCommandResponse" message="tns:TesterObjectContract_TclCommand_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclCommandSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_TclCommand_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/TclCommandReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_TclCommand_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleState">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetModuleState" message="tns:TesterObjectContract_GetModuleState_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetModuleStateResponse" message="tns:TesterObjectContract_GetModuleState_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetModuleStateSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetModuleState_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetModuleStateReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetModuleState_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetModuleState">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetModuleState" message="tns:TesterObjectContract_SetModuleState_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetModuleStateResponse" message="tns:TesterObjectContract_SetModuleState_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetModuleStateSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetModuleState_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetModuleStateReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetModuleState_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBunnyStatus">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetBunnyStatus" message="tns:TesterObjectContract_GetBunnyStatus_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetBunnyStatusResponse" message="tns:TesterObjectContract_GetBunnyStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetBunnyStatusSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetBunnyStatus_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetBunnyStatusReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetBunnyStatus_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemsState">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetMemsState" message="tns:TesterObjectContract_GetMemsState_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetMemsStateResponse" message="tns:TesterObjectContract_GetMemsState_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetMemsStateReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetMemsState_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetMemsStateSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetMemsState_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCounts">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCounts" message="tns:TesterObjectContract_SetCounts_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountsResponse" message="tns:TesterObjectContract_SetCounts_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetCounts_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetCounts_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountValue">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetCountValue" message="tns:TesterObjectContract_GetCountValue_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetCountValueResponse" message="tns:TesterObjectContract_GetCountValue_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetCountValueSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetCountValue_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetCountValueReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetCountValue_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCountValue">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountValue" message="tns:TesterObjectContract_SetCountValue_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountValueResponse" message="tns:TesterObjectContract_SetCountValue_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountValueSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SetCountValue_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SetCountValueReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SetCountValue_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncCountValue">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/IncCountValue" message="tns:TesterObjectContract_IncCountValue_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/IncCountValueResponse" message="tns:TesterObjectContract_IncCountValue_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/IncCountValueSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_IncCountValue_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/IncCountValueReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_IncCountValue_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCounts">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SaveCounts" message="tns:TesterObjectContract_SaveCounts_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SaveCountsResponse" message="tns:TesterObjectContract_SaveCounts_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SaveCountsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_SaveCounts_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/SaveCountsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_SaveCounts_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZeroCounts">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ZeroCounts" message="tns:TesterObjectContract_ZeroCounts_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ZeroCountsResponse" message="tns:TesterObjectContract_ZeroCounts_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ZeroCountsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_ZeroCounts_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ZeroCountsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_ZeroCounts_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearStats">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ClearStats" message="tns:TesterObjectContract_ClearStats_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ClearStatsResponse" message="tns:TesterObjectContract_ClearStats_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ClearStatsSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_ClearStats_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/ClearStatsReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_ClearStats_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatValuesViaEvent">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateStatValuesViaEvent" message="tns:TesterObjectContract_UpdateStatValuesViaEvent_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateStatValuesViaEventResponse" message="tns:TesterObjectContract_UpdateStatValuesViaEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateStatValuesViaEventReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_UpdateStatValuesViaEvent_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateStatValuesViaEventSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_UpdateStatValuesViaEvent_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstLastIndexViaEvent">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFirstLastIndexViaEvent" message="tns:TesterObjectContract_GetFirstLastIndexViaEvent_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFirstLastIndexViaEventResponse" message="tns:TesterObjectContract_GetFirstLastIndexViaEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFirstLastIndexViaEventSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetFirstLastIndexViaEvent_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFirstLastIndexViaEventReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetFirstLastIndexViaEvent_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFromToViaEvent">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFromToViaEvent" message="tns:TesterObjectContract_GetFromToViaEvent_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFromToViaEventResponse" message="tns:TesterObjectContract_GetFromToViaEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFromToViaEventSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_GetFromToViaEvent_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/GetFromToViaEventReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_GetFromToViaEvent_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDgrValuesViaEvent">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateDgrValuesViaEvent" message="tns:TesterObjectContract_UpdateDgrValuesViaEvent_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateDgrValuesViaEventResponse" message="tns:TesterObjectContract_UpdateDgrValuesViaEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateDgrValuesViaEventReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_UpdateDgrValuesViaEvent_ReceiverFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/UpdateDgrValuesViaEventSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_UpdateDgrValuesViaEvent_SenderFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BladeFileDir">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFileDir" message="tns:TesterObjectContract_BladeFileDir_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFileDirResponse" message="tns:TesterObjectContract_BladeFileDir_OutputMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFileDirSenderFaultDetailFault" name="SenderFaultDetailFault" message="tns:TesterObjectContract_BladeFileDir_SenderFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeFileDirReceiverFaultDetailFault" name="ReceiverFaultDetailFault" message="tns:TesterObjectContract_BladeFileDir_ReceiverFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BladeEventCallback">
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectContract/BladeEventCallback" message="tns:TesterObjectContract_BladeEventCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>