RemoteConnectLib/Service References/ServiceReference2/Hitachi.Tester.Module1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Hitachi.Tester.Module" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Hitachi.Tester.Module" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Hitachi.Tester.Module/Imports">
      <xsd:import schemaLocation="" namespace="Hitachi.Tester.Module" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileRead_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileRead" />
  </wsdl:message>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileReadResponse" />
  </wsdl:message>
  <wsdl:message name="FileStreamRequest">
    <wsdl:part name="parameters" element="tns:FileStreamRequest" />
  </wsdl:message>
  <wsdl:message name="FileStreamRequest_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="FileStreamResponse">
    <wsdl:part name="parameters" element="tns:FileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="FileStreamResponse_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:portType name="TesterObjectStreamingContract">
    <wsdl:operation name="BladeFileRead">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileRead" message="tns:TesterObjectStreamingContract_BladeFileRead_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileReadResponse" message="tns:TesterObjectStreamingContract_BladeFileRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BladeFileWrite">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileWrite" name="FileStreamRequest" message="tns:FileStreamRequest" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileWriteResponse" name="FileStreamResponse" message="tns:FileStreamResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>