RemoteConnectLib/Service References/ServiceReference2/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="Hitachi.Tester.Module" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Hitachi.Tester.Module" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Hitachi.Tester.Module/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="Hitachi.Tester.Module" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileRead_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileRead" />
  </wsdl:message>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileReadResponse" />
  </wsdl:message>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileWrite" />
  </wsdl:message>
  <wsdl:message name="TesterObjectStreamingContract_BladeFileWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:BladeFileWriteResponse" />
  </wsdl:message>
  <wsdl:portType name="TesterObjectStreamingContract">
    <wsdl:operation name="BladeFileRead">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileRead" message="tns:TesterObjectStreamingContract_BladeFileRead_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileReadResponse" message="tns:TesterObjectStreamingContract_BladeFileRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BladeFileWrite">
      <wsdl:input wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileWrite" message="tns:TesterObjectStreamingContract_BladeFileWrite_InputMessage" />
      <wsdl:output wsaw:Action="Hitachi.Tester.Module/TesterObjectStreamingContract/BladeFileWriteResponse" message="tns:TesterObjectStreamingContract_BladeFileWrite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>